In [21]:
import pandas as pd
series_mat = [[pd.Series([1,2,3,4]) for _ in range(2)] for _ in range(3)]
all_series = [s for sublist in series_mat for s in sublist]

In [22]:
series_mat
df = pd.concat(all_series, axis=1)
df

   0  1  2  3  4  5
0  1  1  1  1  1  1
1  2  2  2  2  2  2
2  3  3  3  3  3  3
3  4  4  4  4  4  4

In [23]:
df.mean(axis=1)

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64